{% load widget_tweaks %}
{% load static %}

{% for post in posts %}
<div class="posts-container">
    <div class="update-delete-btn">
      <a href="{% url 'edit-post' post.id %}">Edit</a>
      <a href="{% url 'delete-post' post.id %}">Delete</a>
    </div>
    <div class="post-user-info">
      <a href="{{post.author.profile.picture.url}}"><img src="{{post.author.profile.picture.url}}" class="rounded-circle post-img" height="30" width="30"></a>
      <a href="{% url 'profile' post.author.id %}">
        <h3>{{ post.author.name }} <i>@{{ post.author.username }}</i>
          <small>
          {{ post.created|timesince}} ago
        </small>
      </h3>
      </a>
    </div>
    <br>
    <p><a class="post-content" href="{% url 'post-detail' post.id %}">{{ post }}</a></p>
    <div class="post-engagement-icons">
      <form action="{% url 'like' post.id %}" method="POST">
        {% csrf_token %}
        <!-- SVG icons -->
         <input type="hidden" name="next" value="{{ request.path }}">
       <button style="background-color: transparent; border: none;">
        <img src="{% static 'images/like.svg' %}" alt=""> 
        <span style="color: #fff;"><span>{{ post.likes.all.count }}</span> Likes</span>
      </button>
      </form>

      <form action="{% url 'dislike' post.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button style="background-color: transparent; border: none;">
          <img src="{% static 'images/dislike.svg' %}" alt=""> 
          <span style="color: #fff;"><span>{{ post.dislikes.all.count }}</span> Dislikes</span>
        </button>
      </form>
    </div>
</div>
{% endfor %}