{% extends 'main.html' %}

{% block content %}
<div class="form-control-container">
  <div class="form-control">
    <h1 style="margin-left: 10rem; margin-bottom: 2rem;">Delete Post</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <p>Are you sure you want to delete this can't be undo?</p>
      <div style="display: flex; justify-content: space-around; width: 200px; margin: 2rem;">
        <button class="post-btn">Back</button>
        <button class="post-btn" type="submit" style="background-color: red; color: #fff;">Delete</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}