{% extends 'main.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="post-detail-container">
    <div class="post-detail-wrapper">
      <div class="post-form">
        <form action="" method="POST">
          {% csrf_token %}
          {% render_field form.comment placeholder="Comment on this post" class+="form-field" %}
          <button class="post-btn" type="submit">Post</button>
        </form>
      </div>
      
      <div class="posts-container">
        <div class="update-delete-btn">
          <a href="{% url 'edit-post' post.id %}">Update</a>
          <a href="{% url 'delete-post' post.id %}">Delete</a>
        </div>
        <div class="post-user-info">
          <a href="{{ post.author.picture.url }}"><img src="{{ post.author.picture.url }}"></a>
          <a href="{% url 'profile' post.author.id %}">
            <h3>{{ post.author.name }} <i>@{{ post.author.username }}</i>
              <small>
              {{ post.created|timesince}} ago
            </small>
          </h3>
          </a>
        </div>
        <br>
        <p>{{ post }}</p>
      </div>

      <div class="comment-wrapper">
      <h3 style="margin-top: 2rem; margin-left: 2rem;">-----------------------  Comments  -----------------------</h3>
      {% for comment in comments %}
        <div class="comment-container">
          <a href="{{ comment.author.picture.url }}"><img src="{{ comment.author.picture.url }}"></a>
          <a href="{% url 'profile' post.author.id %}">
            <h3>{{ comment.author.name }} <i>@{{ comment.author.username }}</i>
              <small>
              {{ comment.created|timesince}} ago
            </small>
          </h3>
          </a>
          <p>{{ comment }}</p>
        </div>
        <hr style="width: 300px; margin-left: 5rem; background-color: green; margin-top: 1rem;">
        {% endfor %}
      </div>
        
    </div>
  </div>
  
</div>
{% endblock content %}