{% extends 'main.html' %}

{% block content %}
<div class="profile-container">
  <div class="profile-control">
    <div class="profile-info">
      <a href="#"><img class="profile-picture" src="{{ profile.picture.url }}" alt="profile picture"></a>
      <h3>@{{ profile.user.username }}</h3>
      {% if profile.name %}
      <h1>{{ profile.user.name }}</h1>
      {% endif %}
    </div>
    {% if request.user == profile.user %}
    <a class="profile-edit" href="{% url 'profile-edit' profile.pk %}">Edit Profile</a>
    {% else %}
      {% if is_following %}
        <a href="{% url 'unfollow' profile.pk %}">UnFollow</a>
      {% else %}
      <a href="{% url 'follow' profile.pk %}">Follow</a>
      {% endif %}
    {% endif %}
    <div class="profile-container">
      <div class="profile-user-posts">
       {% include 'base/posts_component.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}